:root {
  --dark-blue-color: #000046;
  --background-color: #ebebeb;
  --button-hover-color: #64dc78;
  --title-color: #64648c;
  --body-background-color: #F0F5FA;
}

html, body {
  margin: 0;
  padding: 0;
  
}

html {
  height: 100vh;
  width: 100%;
}

.page {
  height: 100vh;
}

body {
  background-color: var(--background-color);

}

.head-row {
  background-color: var(--dark-blue-color);
  height: 75px;
  display: flex;
  justify-content: left;
  align-items: center;

}

.head-row p3 {
  font-size: 20px;
  
}

.head-icon {
  width: 200px;
  height: 75px;

}

.main-body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-menu {
  background-color: var(--body-background-color);
  width: 10%;
  height: 100%;
  margin-right: 20px;
  
}

.left-menu h3 {
  color: #000046;
}

.content-feed {
  background-color: var(--background-color);
  width: 80%;
}

.make-content-form {
  margin-top: 10px;
  margin-right: 10px;
  padding: 20px;
  background-color: var(--body-background-color);
  display: flex;
  border-radius: 10px;
  align-items: center;
}

.make-content-form button{
  background-color: grey
  width 10%;
}

.make-content-pr-img {
  width: 10%;
}

input[type=text] {
  width: 70%;
  padding: 5px;
  margin: 8px;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: #000046;
}

.post-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: var(--body-background-color);
  margin: 20p;
  padding: 20px;
  border-radius: 10px;
  
  
}

.post-overview {
  display: flex;
  flex-direction: row;
  background-color: var(--body-background-color);
  
  align-items: center;
}

.post-overview p {
  color: #000046;
  font-size: 215;
}

.post-profile-img {
  width: 5%;
  height: 30px;
}

.name-title-post {
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
}

.name-post {
  height: 10px
}

.title-post{
  height: 15px

}

h2 {
  font-size: 12px;
}

.full-title-post {
  background-color: var(--body-background-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 5px;
}

.full-title-post p {
  font-size: 15px;
  color: #000046;
}

.make-content-form{
  align-content: center;
}









